#ignore build stuff
build/
.git/
src/parametricCutGeneration.egg-info/
# Ignore slurm output files
*.out
# Ignore sif images
*.sif
# Ignore dataset and problem files
*.mps
*.gz
*.sol
*.yaml
# Ignore compressed downloaded files
*.tar
*.zip
# LPs and MIPS
*.lp
*.mps
